@font-face {
    font-family: 'Roboto Slab Light';
    font-style: normal;
    font-weight: 300;
    line-height: 160%;
    src: url('../fonts/ofont.ru_Roboto\ Slab.ttf') format('truetype'); 
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    src: url('../fonts/roboto-slab-v34-latin-regular.woff2') format('woff2'); 
}
@font-face {
    font-family: 'Intro';
    font-style: regular;
    font-weight: 400;
    line-height: 120%;
    src: url('../fonts/ofont.ru_Intro.ttf') format('truetype'); 
}