
@import "./fonts";

$primary-color: #000;
$button-color:#5222d0;
$secondary-color: #fff;
$accent-color: #ec615b;

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 76px;
    margin-top: 50px;

    .header__button{
        border-radius: 100px;
        width: 115px;
        height: 38px;
        margin-right: 75px;
        background: $button-color;
        font-family: 'Intro';
        font-size: 13px;
        color: $secondary-color;

        &:hover{
            color: $accent-color;
        }
    }
    .header__logo{
        margin-left: 75px;
    }
}

nav{
    margin-left: 80px;
    margin-top: 86px;
}
.menu{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;

    .menu__link{
        margin-right: 34px;
        font-family: 'Roboto Slab Light';
        font-size: 20px;
        color: $primary-color;
        text-decoration: none;
    }
}

.title__heading{
    margin-left: 125px;
    font-family: 'Intro';
    font-size: 60px;
    color: $primary-color;
}
.cardwrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(365px, 1fr));;
    grid-template-rows: 2fr 1fr;
    gap: 10px;
    max-width: 1242px;
    margin-left: 127px;
    

}
.card{
    display: flex;
    flex-direction: column;
    max-height: 500px;
    max-width: 365px;

    .card__heading{
        font-family: 'Intro';
        font-size: 30px;
        color: $primary-color;
    }
    .card__text{
        font-family: 'Roboto Slab Light';
        line-height: 160%;
        font-size: 20px;
        color: $primary-color;
    }

    &:last-child{
        background: $accent-color;
    }
}

.card__heading-white {
    margin-left: 18px;
    margin-top: 25px;
    font-family: 'Intro';
    font-size: 30px;
    color: $secondary-color;
}
.card__button{
    margin-left: 18px;
    margin-top: 32px;
    width: 135px;
    height: 38px;
    background:$button-color;
    border-radius: 100px;
    font-family: 'Intro';
    font-size: 13px;
    color:$secondary-color;

    &:hover{
        color:$accent-color;
    }
}
.card__input{
    width: 323px;
    height: 50px; 
    margin-left: 18px; 
}
::placeholder{
    font-family: 'Roboto Slab Light';
    font-size: 20px;
    color: $primary-color;
}